.page_title__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

.page_title__wrapper svg {
  cursor: pointer;
}

.page_title__wrapper svg:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.page_title__breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: rgb(183, 182, 182)
}

.page_title__wrapper h2 {
  font-size: 1.5rem;
  font-weight: bold;
}